<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
  <filter>
  	<filter-name>EncodeFilter</filter-name>
  	<filter-class>xc.take.servlet.filter.EncodeFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>EncodeFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  
  
  <servlet>
  
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>xc.take.servlet.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>xc.take.servlet.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowBillVoServlet</servlet-name>
    <servlet-class>xc.take.servlet.UI.ShowBillVoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddFoodServlet</servlet-name>
    <servlet-class>xc.take.servlet.controller.AddFoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddMealsServlet</servlet-name>
    <servlet-class>xc.take.servlet.controller.AddMealsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddBillServlet</servlet-name>
    <servlet-class>xc.take.servlet.controller.AddBillServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoAddFoodServlet</servlet-name>
    <servlet-class>xc.take.servlet.UI.GoAddFoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowMenuServlet</servlet-name>
    <servlet-class>xc.take.servlet.UI.ShowMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <init-param>
    	<param-name>model</param-name>
    	<param-value>0001</param-value>
    </init-param>
    <init-param>
    	<param-name>mode</param-name>
    	<param-value>0001</param-value>
    </init-param>
    <servlet-name>TransferAddFoodServlet</servlet-name>
    <servlet-class>xc.take.servlet.UI.TransferAddFoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TransferAddBillVoServlet</servlet-name>
    <servlet-class>xc.take.servlet.UI.TransferAddBillVoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TransferAddMealsServlet</servlet-name>
    <servlet-class>xc.take.servlet.UI.TransferAddMealsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowFoodServlet</servlet-name>
    <servlet-class>xc.take.servlet.UI.ShowFoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowMealsServlet</servlet-name>
    <servlet-class>xc.take.servlet.UI.ShowMealsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowUserServlet</servlet-name>
    <servlet-class>xc.take.servlet.UI.ShowUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowRoleServlet</servlet-name>
    <servlet-class>xc.take.servlet.UI.ShowRoleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LookupRoleVoServlet</servlet-name>
    <servlet-class>xc.take.servlet.UI.LookupRoleVoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TransferAddRoleVoServlet</servlet-name>
    <servlet-class>xc.take.servlet.UI.TransferAddRoleVoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddRoleVoServlet</servlet-name>
    <servlet-class>xc.take.servlet.controller.AddRoleVoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUserOfRoleServlet</servlet-name>
    <servlet-class>xc.take.servlet.controller.AddUserOfRoleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AllotAdminiServlet</servlet-name>
    <servlet-class>xc.take.servlet.UI.AllotAdminiServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleAdminServlet</servlet-name>
    <servlet-class>xc.take.servlet.controller.HandleAdminServlet</servlet-class>
  </servlet>

























  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowBillVoServlet</servlet-name>
    <url-pattern>/ShowBillVoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFoodServlet</servlet-name>
    <url-pattern>/AddFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMealsServlet</servlet-name>
    <url-pattern>/AddMealsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBillServlet</servlet-name>
    <url-pattern>/AddBillServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoAddFoodServlet</servlet-name>
    <url-pattern>/GoAddFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMenuServlet</servlet-name>
    <url-pattern>/ShowMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransferAddFoodServlet</servlet-name>
    <url-pattern>/TransferAddFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransferAddBillVoServlet</servlet-name>
    <url-pattern>/TransferAddBillVoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransferAddMealsServlet</servlet-name>
    <url-pattern>/TransferAddMealsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowFoodServlet</servlet-name>
    <url-pattern>/ShowFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMealsServlet</servlet-name>
    <url-pattern>/ShowMealsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUserServlet</servlet-name>
    <url-pattern>/ShowUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowRoleServlet</servlet-name>
    <url-pattern>/ShowRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LookupRoleVoServlet</servlet-name>
    <url-pattern>/LookupRoleVoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransferAddRoleVoServlet</servlet-name>
    <url-pattern>/TransferAddRoleVoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRoleVoServlet</servlet-name>
    <url-pattern>/AddRoleVoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserOfRoleServlet</servlet-name>
    <url-pattern>/AddUserOfRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllotAdminiServlet</servlet-name>
    <url-pattern>/AllotAdminiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleAdminServlet</servlet-name>
    <url-pattern>/HandleAdminServlet</url-pattern>
  </servlet-mapping>


</web-app>